/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #237263;
  --matr-navbar-bg-rgb: 35, 114, 99;
  --matr-navbar-text-color: white;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("images/Landing-background.JPG");
  background-size: cover;
  backdrop-filter: blur(5px);
}

/*.navbar a.nav-link.active {
  color: var(--matr-navbar-bg);
}
*/
body .navbar {
  /*--bs-navbar-active-color: var(--matr-navbar-bg);*/
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  /*--bs-navbar-brand-hover-color: var(--matr-navbar-bg);*/
  --bs-navbar-color: var(--matr-navbar-text-color);
  /*--bs-navbar-hover-color: var(--matr-navbar-bg);*/
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

#root {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}
/* Define custom styles */
/*.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--body-text-color);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}
*/
